<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MP3 Downloader</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section class="main_section">
        <div class="main_container">
            <h1 class="main_heading">Mp3 Downloader</h1>
            <input class="search_bar" type="search" name="song_name" id="" placeholder="Enter song name or author">

            <div class="song_container">
                <div class="song_details_container">
                <h5 class="song_title"><%= songDetails.videoDetails.title %></h5>
                <h6 class="song_author"><%= (songDetails.videoDetails.ownerChannelName).replace("- Topic", "") %></h6>
                <p class="song_details">9M views | 1 month ago</p>
            </div>
            <div class="button_container">
                <button class="download_button">Download</button>
                <button class="view_button">View More</button>
            </div>
            </div>

            <% for( let song = 0; song < songDetails.related_videos.length; song++) { %>
    
            <div class="song_container">

                <div class="song_details_container">
                <h5 class="song_title"><%= songDetails.related_videos[song].title %></h5>
                <h6 class="song_author"><%= songDetails.related_videos[song].author.name %></h6>
                <p class="song_details"><%= songDetails.related_videos[song].short_view_count_text %> views | <%= songDetails.related_videos[song].published %> | <%=  Math.floor(parseInt(songDetails.related_videos[song].length_seconds) / 60) %> minutes</p>
            </div>
            <div class="button_container">
                <button class="download_button">Download</button>
                <button class="view_button">View More</button>
            </div>
            </div>
            <% } %>
        </div>
    </section>
</body>
</html>